{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'petank/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<header class="on_the_top">
    <div class="page_width">
        <a href="/"><img src="{% static 'petank/img/logo.png' %}" id="logo_head" class="no_transition"></a>
        <div id="menu_button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <nav class="hidden">
            <a href="/aktuality/#obsah" class="anim{% if model == 'News' %} active{% endif %}">AKTUALITY</a>
            <div class="dropdown">
                <span {% if model == 'Info' or model == 'Member' %}class="active"{% endif %}>O&nbsp;NÁS</span>
                <div class="dropdown_content">
                    <a href="/clenove/#obsah" class="anim">Členové</a>{% for info in info_list %}
                    <a href="/o_nas/{{ info.slug }}/#obsah" class="anim">{{ info.link }}</a>{% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <span {% if model == 'LiveEvent' %} class="active"{% endif %}>POŘÁDÁME</span>
                <div class="dropdown_content">{% for event in liveevent_list %}
                    <a href="/poradame/{{ event.slug }}/#obsah" class="anim">{{ event.link }}</a>{% endfor %}
                </div>
            </div>
            <a href="/galerie/#obsah" class="anim{% if model == 'GalleryEvent' %} active{% endif %}">GALERIE</a>
            <a href="#kontakt" class="anim">KONTAKT</a>
        </nav>
    </div>
</header>
<section id="header">
    <div id="obsah"></div>
</section>
<section id="content">
    <div class="page_width">{% block content %}{% endblock %}</div>
</section>
<footer>
    <div class="page_width">
        <div class="article_preview">
            <div id="kontakt" class="article_text_preview">
                <h3>Kontakt</h3>
                <p>Taneční klub Pelhřimov, z. s.<br />Menhartova 1609<br/>393 01 Pelhřimov</p>
                <p>+420 608 350 311<br />tan.klub.pel@gmail.com<br />číslo účtu: 6300002945/7940<br />ičo: 226 92 355</p></div>
            <div id="logo_foot" class="article_image_preview"></div>
        </div>
    </div>
</footer>
<script>

$(function(){
    var scrolled = $(window).scrollTop() >= 25;
    if (scrolled){
        $('header').removeClass('on_the_top');
    }
    $(document).on( "scroll", function(event) {
        if ($(window).scrollTop() >= 25 && !scrolled) {
            $('header').removeClass('on_the_top');
            scrolled = true;
        } else if ($(window).scrollTop() < 25 && scrolled) {
            $('header').addClass('on_the_top');
            scrolled = false;
        }
    });
    $('#menu_button').click(function () {
        $('nav').toggleClass('hidden');
        $(this).toggleClass('cross');
    });
    $('nav a').click(function () {
        $('nav').addClass('hidden');
        $('#menu_button').removeClass('cross');
    });
    setTimeout(function () {
        $('.no_transition').removeClass('no_transition');
    },400);
})

</script>
{% block js %}{% endblock %}
</body>
</html>
