{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'petank/css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<div id="menu_bar" class="on_the_top">
    <div class="page_width">
        <div id="logo_menu"></div>
        <nav id="menu">
            <span class="anim"><a href="/aktuality/#obsah"{% if model == 'News' %} class="active"{% endif %}>AKTUALITY</a></span>
            <div class="dropdown">
                <span class="anim"><button class="dropdown_button{% if model == 'Info' or model == 'Member' %} active{% endif %}">O NÁS</button></span>
                <div class="dropdown_content">
                    <span class="anim"><a href="/clenove/#obsah">Členové</a></span>{% for info in info_list %}<br/>
                    <span class="anim"><a href="/o_nas/{{ info.slug }}/#obsah">{{ info.link }}</a></span>{% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <span class="anim"><button class="dropdown_button{% if model == 'LiveEvent' %} active{% endif %}">POŘÁDÁME</button></span>
                <div class="dropdown_content">{% for event in liveevent_list %}
                    <span class="anim"><a href="/poradame/{{ event.slug }}/#obsah">{{ event.link }}</a></span>{% if forloop.last %}{% else %}<br />{% endif %}{% endfor %}
                </div>
            </div>
            <span class="anim"><a href="/galerie/#obsah "{% if model == 'GalleryEvent' %} class="active"{% endif %}>GALERIE</a></span>
            <span class="anim"><a href="#kontakt">KONTAKT</a></span>
        </nav>
    </div>
</div>
<section id="header">
    <div id="obsah"></div>
</section>
<section id="content">
    <div class="page_width">{% block content %}{% endblock %}</div>
</section>
<section id="footer">
    <div class="page_width">
        <div class="article_preview">
            <div id="kontakt" class="article_text_preview">
                <h3>Kontakt</h3>
                <p>+420 111 222 333<br/>tan.klub.pel@gmail.com<br/>ičo: 111 22 333<br/>Menhartova 1609<br/>393 01 Pelhřimov</div>
            <div id="logo_foot" class="article_image_preview"></div>
        </div>
    </div>
</section>
<script>

$(function(){
    var scrolled = $(window).scrollTop() >= 25;
    if (scrolled){
        $('#menu_bar').removeClass('on_the_top');
    }
    $(document).on( "scroll", function(event) {
        if ($(window).scrollTop() >= 25 && !scrolled) {
            $('#menu_bar').removeClass('on_the_top');
            scrolled = true;
        } else if ($(window).scrollTop() < 25 && scrolled) {
            $('#menu_bar').addClass('on_the_top');
            scrolled = false;
        }
    });
})

</script>
{% block js %}{% endblock %}
</body>
</html>
